:root {
    --mainColor : #000;
    --secondColor : #333646;
    --acsenColor : #DC84F3;
    --bodycolor : #434242;
    --backgroundColor : #171717;
}

body {
    background-color: var(--mainColor);
    min-height: 900px;
    font-family: 'ubuntu', sans-serif;
}

section h1 {
    color: #ffff;
    font-size: 2.5rem;
}

/* Navbar */

.nav-link.active {
    color: var(--acsenColor) !important;
    font-weight: 700;
}

.navbar-nav a:hover {
    color: var(--acsenColor) !important;
    text-shadow: 3px 3px 20px var(--acsenColor), -2px 1px 30px var(--mainColor);
} 

.nav-dark {
    background-color: var(--backgroundColor) !important;
    z-index: 10;
    transition: 0.8s;
}

/* End Navbar */

/* Section Hero */
.color-acsent {
    color: var(--acsenColor);
}

#hero {
    color: #ffff;
    min-height: 100vh;
}    

#hero h1 {
    font-size: 3rem;
}
#hero h2 {
    font-weight: 300;
}

#hero p {
    font-size: 1.1rem;
    font-weight: 300;
}

/* CTA */
.btn-custom1 {
    background-color: var(--acsenColor);
    text-align: center;
    color: #fff;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 10px;
}

.btn-custom1:hover {
    box-shadow: 0 0 20px rgba(212, 0, 255, 0.8);
    color: var(--acsenColor);
    box-shadow: 3px 3px 20px var(--acsenColor), -2px 1px 30px var(--mainColor);
}

.cv {
    color: #ffff;
    cursor: pointer;
    font-size: 1.1rem;
}

/* And Section Hero */

/* About */

hr {
    width: 35%;
    height: 5px;
    color: var(--acsenColor);
    margin: 0 auto;
    opacity: 100%;
}

#about {
    min-height: 500px;
    width: 100%;
    color: #ffff;
    padding: 80px 10px;
}

/* And About */

/* Skills */

#skills {
    min-height: 500px;
    width: 100%;
    color: #ffff;
    background-color: var(--backgroundColor) !important;
    padding: 80px 10px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 5px;
}

#skills img {
    width: 15%;
    margin: 10px;
}

#skills img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    color: var(--acsenColor) !important;
    box-shadow: 3px 3px 20px var(--acsenColor), -2px 1px 30px var(--mainColor);
}

#skills .card {
    background-color: var(--backgroundColor);
    height: 350px;
    margin: 15px;
}
/* And Skills */



/* PROJECT */
#project .container {
    padding: 80px 10px;

}

#project p, a {
    color: #ffff !important;
}

#project img {
    width: 100%;
    padding: 10px;
    margin: 15px;
}

#project img:hover {
    color: var(--acsenColor) !important;
    box-shadow: 3px 3px 20px var(--acsenColor), -2px 1px 30px var(--mainColor) !important;
    z-index: 10;
    transition: 0.8s;
}

/* And PROJECT */

/* Section quote */

section.quote {
  background: var(--backgroundColor);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  padding: 100px;
}

section.quote a:hover {
    color: var(--acsenColor) !important;
    text-shadow: 3px 3px 20px var(--acsenColor), -2px 1px 30px var(--mainColor);
}

/* And Section quote */

/* Footer */

#footer {
    min-height: 300px;
    width: 100;
    background-color: var(--secondColor);
    color: #ffff;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 80px;
}

/* And Footer */
